<h1><%= title 'Support' %></h1>

<p>
  Something gone wrong? We'd love to help!
</p>

<h3>Email</h3>
<p>
  Send an email to
  <%= mail_to LandgrabService.email_from_address %>
  and we'll try to help!
</p>
