<%
subs = current_user&.associated_subscriptions&.select(&:usable_stripe_status?) || []
viewing_tile = false
subs_with_tile = subs.select { |sub| sub.tile.present? }
latest_sub = subs_with_tile.sort_by(&:created_at).first

# Don't show progress bar some time after completion
return if latest_sub && latest_sub.created_at < 10.seconds.ago
%>

<% steps = [
  {
    text: 'Create<br>Profile',
    done: user_signed_in?,
    active: !user_signed_in?
  },
  {
    text: 'Choose<br>Subscription',
    done: subs.any?,
    active: user_signed_in? && subs.none?,
  },
  {
    text: 'Choose<br>Tile',
    done: subs_with_tile.any?,
    active: subs.any? && subs_with_tile.none?
  },
  {
    text: "You're<br>Rewilding!",
    done: subs_with_tile.any?,
    active: false
  }
] %>

<div class="stepper-wrapper">
  <% steps.each do |step| %>
    <% klass = 'completed' if step.fetch(:done) %>
    <% klass ||= 'active' if step.fetch(:active) %>
    <div class="stepper-item <%= klass %>">
      <div class="step-blob"></div>
      <div class="step-text"><%= step.fetch(:text).html_safe %></div>
    </div>
  <% end %>
</div>

<style>

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-blob {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item .step-text {
  text-align: center;

  @media (max-width: 512px) {
    display: none;
  }
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item .step-blob {
  background-color: var(--landgrab-color-white, white);
  border: 1px solid var(--landgrab-color-grey, grey);
}

.stepper-item.completed .step-blob {
  background-color: var(--landgrab-color-green-lighter, limegreen);
  border: 3px solid var(--landgrab-color-green, green);
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

</style>
